@{
    ViewBag.Title = "Import Data From External Excel File";

}

<div class="panel panel-default">
    @*<div class="panel-heading"></div>*@
    <div class="panel-body">
        @using (Html.BeginForm("Importexcel", "ImportData", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <table>
                <tr><td>Excel file</td><td><input type="file" id="FileUpload1" name="FileUpload1" class="form-control" /></td></tr>
                <tr><td></td><td><input type="submit" id="Submit" name="Submit" value="Submit" class="btn btn-primary" /></td></tr>
            </table>
        }

    </div>
    <div class="panel-body">
        @using (Html.BeginForm("Download", "ImportData", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {

            <input type="submit" value="Download Template" class="btn btn-primary" style="display: inline !important" />



        }

    </div>
</div>
