@model GPA.Models.DashbordViewModel

<h1>Student Dashbord</h1>


<ul class="nav nav-tabs">
    <li class="active"><a href="#">Course Taken</a></li>
    <li><a href="#">Course Signup</a></li>
    <li><a href="#">Feedback</a></li>
    <li><a href="#">Report</a></li>
</ul>
<div>

    
</div>


<script type="text/javascript">
    

    $(document).ready(function () {
        alert("hi");
        $("ul.art-hmenu>li").on("click", "a", function (e) {
            alert('hi');
            debugger;
            $('.nav-tabs li.active').removeClass('active');
            var $this = $(this);
            if (!$this.hasClass('active')) {
                $this.addClass('active');
            }
            e.preventDefault();
        });
    });
</script>




   