@model GPA.Models.DashbordViewModel

@{
    var feedbackmodel = Model.FeedbackViewModel;
    var studentmodel = Model;

}




<div>
    <ul class="nav nav-tabs">
       
        @if ((string)TempData["current"] == "feedback" || (string)TempData["current"] == "coursesignup")
        {
            <li ><a href="#CourseTaken" data-toggle="tab">Course Taken</a></li>

        }
        else
        {
            <li class="active"><a href="#CourseTaken" data-toggle="tab">Course Taken</a></li>
        }

@if ((string)TempData["current"] == "coursesignup")
{
    <li class="active"><a href="#CourseSignup" data-toggle="tab">Course Signup</a></li>
}
else
{
    <li><a href="#CourseSignup" data-toggle="tab">Course Signup</a></li>
}
        
       
        <li><a href="#GenerateReport" data-toggle="tab">Report</a></li>
        
        
            @if ((string)TempData["current"] == "feedback")
            {
        <li class="active">
            <a href="#FeedbackTab" data-toggle="tab">Feedback</a>
        </li>

}
        else
        {
        <li>
            <a href="#FeedbackTab" data-toggle="tab">Feedback</a>
        </li>
}
           
        

    </ul>
</div>
<div>

    <div id="myTabContent" class="tab-content">
@if ((string)TempData["current"] == "feedback")
{
    <div class="tab-pane fade active in" id="FeedbackTab">
        <div class="panel-body">
            @{Html.RenderPartial("~/Views/Feedback/index.cshtml", feedbackmodel);}
        </div>
    </div>
}
else
{
     <div class="tab-pane fade" id="FeedbackTab">
            <div class="panel-body">
                @{Html.RenderPartial("~/Views/Feedback/index.cshtml", feedbackmodel);}
            </div>
        </div>
}
       
        <div class="tab-pane fade" id="CourseTaken">
            <div class="panel-body">
                @{Html.RenderPartial("~/Views/Student/_CourseTakenPartial.cshtml", studentmodel);}
            </div>
        </div>

@if ((string)TempData["current"] == "coursesignup")
{
    <div class="tab-pane fade active in" id="CourseSignup">
        <div class="panel-body">
            @{Html.RenderPartial("~/Views/Student/_CourseSignUpPartial.cshtml", studentmodel);}
        </div>
    </div>

}
else
{
    <div class="tab-pane fade" id="CourseSignup">
            <div class="panel-body">
                @{Html.RenderPartial("~/Views/Student/_CourseSignUpPartial.cshtml", studentmodel);}
            </div>
        </div>

}
        
    </div>
    </div>


<script type="text/javascript">
    

    $(document).ready(function () {
        alert("hi");
        $("ul.art-hmenu>li").on("click", "a", function (e) {
            alert('hi');
            debugger;
            $('.nav-tabs li.active').removeClass('active');
            var $this = $(this);
            if (!$this.hasClass('active')) {
                $this.addClass('active');
            }
            e.preventDefault();
        });
    });
</script>




   