@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>This system automates calculation of student GPA. This is a part of project work for project management seminar course offered by MUM for January block 2014. The Project Members are: <br />
    <ol>
        <li>Adhikari (Project Manager/Team Lead)</li> 
        <li> Kunowor (Senior Developer Admin/Authentication/Verification Lead) </li>
        <li> Dipesh Shrestha (Senior Devloper UI Design Lead) </li>
        <li>Kengsreng Tang (Senior Developer Search Lead)</li>
        <li>Mehrdad Panahandeh(Database Design/Report Design Lead)</li>
        <li>Sunil Basnet(Documentation Lead)</li>
    </ol>
    </p>
