@model GPA.Models.DashbordViewModel
@{
    ViewBag.Title = "Home Page";
    var model = Model;
}

<div class="jumbotron">
    <h1>GPA System</h1>
    
</div>

<div class="row">
    <div class="col-md-4">
       
    </div>
    <div class="col-md-4">
       
    </div>
    <div class="col-md-4">
        
    </div>

   @{Html.RenderPartial("~/Views/Student/StudentDashbord.cshtml", model);}

    @{Html.RenderPartial("~/Views/Account/_AdminDashbordPartial.cshtml", model);}
    @{Html.RenderPartial("~/Views/Account/_GradeEnterFormPartial.cshtml", model);}

    
   
</div>