@model GPA.Models.DashbordViewModel
@{
    ViewBag.Title = "Home Page";
    var model = Model;
}



<div class="row">
    <div class="col-md-4">
       
    </div>
    <div class="col-md-4">
       
    </div>
    <div class="col-md-4">
        
    </div>
    @{
        switch (((GPA.Models.Role)Session["Role"]).RoleName)
        {
            case "Admin":
                {
                    Html.RenderPartial("~/Views/Account/_AdminDashbordPartial.cshtml", model);
                   
                    break;
                }
                
            case "Student":
                { 
                    
                    Html.RenderPartial("~/Views/Student/StudentDashbord.cshtml", model);
                break;
                }
            case "Staff":
                {
                    Html.RenderPartial("~/Views/Account/_StaffDashboardPartial.cshtml", model);
                    break;
                }

            case "Faculty":
                {
                    Html.RenderPartial("~/Views/Account/_FacultyDashboardPartial.cshtml", model);
                    break;
                }
                
            default:
                break;
                
        }
    }


    
   

    
   
</div>