@model GPA.Models.DashbordViewModel
@{
    var model1 = Model;
}
<div class="panel panel-default">
    @*<div class="panel-heading"></div>*@
    <div class="panel-body">

        @using (Html.BeginForm("GetCourseByCourseID", "Course", FormMethod.Post, new { @id = "courseform", @class = "form-horizontal", onchange = "return myfunc();", DashbordViewModel = Model, @courseid = Model.GradeEnterFormViewModel.CourseID, role = "form" }))
        {

            @Html.LabelFor(model=>model.GradeEnterFormViewModel.CourseID)
            @Html.DropDownListFor(model => model.GradeEnterFormViewModel.CourseID, Model.GradeEnterFormViewModel.CourseList, new { @id = "cmbcourse", @class = "form-control" })
            <div style="margin-top:10px;">

            </div>
        }
        <div id="studentgradeform">
            @{Html.RenderPartial("~/Views/Account/_GradeEntryPartial.cshtml", model1);}
        </div>



        @Html.ValidationMessageFor(m => m.GradeEnterFormViewModel.Grades)
    </div>
</div>


<script type="text/javascript">
   // $("#cmbcourse").bind("change", 
       //$("#mybtn").click(
            
           
       //);

    var myfunc =function f() {
        // show spinner
        $('#studentgradeform').html("<img src='./Content/ajax-loader.gif' style='align-content:center'/>");
        debugger
        var form = $('#courseform');
        $.ajax({
            type: "POST",
            url: form.attr('action'),
            data: form.serialize()
        })
        .success(function (data, textStatus, jqXHR ) {
            //alert('you message has been submitted');
            // set message
            $('#studentgradeform').html(data);
            // clear form
                  
        })
        .error(function (xhr, ajaxOptions, thrownError) {
            // alert message ?
            alert(xhr.status);
        });
        return false;
    }
    //at Scripts.Render("~/bundles/jqueryval")
    </script>

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@