
@using Microsoft.AspNet.Identity

@if ((GPA.Models.UserDetail)Session["CurrentUser"]!=null)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            
            @Html.ActionLink("Hello " + ((GPA.Models.UserDetail)Session["CurrentUser"]).FName + "!", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
     
       
        
        <li><a href="javascript:document.getElementById('logoutForm').submit(); return false;">Log off</a></li>
        
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        
       @*<li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>*@
        
    </ul>
}
