@if (@ViewBag.result) { 
<div class="alert alert-success" style="margin-top:10px;">
    Message Sent
</div>
}
else { 
<div class="alert alert-warning" style="margin-top:10px;">
    Message Sent. But couldn't send copy in email. Please contact administrator.
</div>
}
