@model GPA.Models.ReportViewModel

@{
    ViewBag.Title = "UserReport";
}

<h2>Student Report</h2>
@using (Html.BeginForm("GradeReport", "Report", FormMethod.Post, new { role = "form" }))
        {
     @Html.AntiForgeryToken()

<h4> Select Student </h4>

@Html.DropDownListFor(model => model.UserID, Model.UserList,"All", new { @class = "form-control" })

<div>
    <input type="submit"  value="Student Grade" name="command" class="btn btn-default"  />
    <input type="submit" value="Student Details" name="command" class="btn btn-default" />
    <input type="submit" value="Student Course Enrollment" name="command" class="btn btn-default" />
</div>
}